/*
* Chat Animations
*
*/

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.universo {
  display: none;
  background-color: grey;
  height: 480px;
  width: 320px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  padding-top: 10px;
}

.planet {
  width: 90px;
  height: 90px;
  background-color: lightgrey;
  text-align: center;
  font-size: 18px;
  color: black;
  border-radius: 100%;
  line-height: 90px;
  font-family: helvetica;
  display: inline-block;
}

.planet.den-child {
  background-color: #e600e6;
}

.planet.rugge-child {
  background-color: #e8fce8;
}

.planet.den {
  background-color: purple;
}

.planet.rugge {
  background-color: lightgreen;
}

.planet > span {
  pointer-events: none;
  color: black;
}