/*
* Chat Animations
*
*/

* {
	box-sizing: border-box;
}

.universo {
	display: none;
	background-color: grey;
	height: 600px;
	width: 480px;
	position: absolute;
	top: 0; 
	left: 0;
	text-align: center; 
	padding-top: 10px; 
}

.planet {
	width: 80px;
	height: 80px;
	background-color: white;
	text-align: center;
	font-size: 18px;
	color: black;
	border-radius: 100%;
	line-height: 90px;
	font-family: helvetica; 
	display: inline-block;
	&.den-child {
		background-color: lighten(purple, 20%);
	}
	&.rugge-child {
		background-color: lighten(lightgreen, 20%); 
	}
	&.den {background-color: purple; }
	&.rugge { background-color: lightgreen; }

	

	> span {
		pointer-events: none;
		color: black;
	}
}
