* {
  box-sizing: border-box; }

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5; }

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px; }

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5; }

.universo {
  background-color: grey;
  height: 600px;
  width: 480px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  padding-top: 10px; }

.planet {
  width: 80px;
  height: 80px;
  background-color: white;
  text-align: center;
  font-size: 18px;
  color: black;
  border-radius: 100%;
  line-height: 90px;
  font-family: helvetica;
  display: inline-block; }
  .planet.den-child {
    background-color: #e600e6; }
  .planet.rugge-child {
    background-color: #e8fce8; }
  .planet.den {
    background-color: purple; }
  .planet.rugge {
    background-color: lightgreen; }
  .planet > span {
    pointer-events: none;
    color: black; }