<div class="universo">
    
    <!-- <div id="p1" class="planet p1">1</div>
    <br>
    <div id="p2" class="planet p2">2</div>
    <div id="p3" class="planet p3">3</div>
    <br>
    <div id="p4" class="planet p4">4</div>

    <div id="p5" class="planet p5">5</div>
    <div id="p6" class="planet p6">6</div>
    <br>
    <div id="p7" class="planet p7">7</div>
    <div id="p8" class="planet p8">8</div>
    <div id="p9" class="planet p9">9</div>
    <div id="p10" class="planet p10">10</div>
    <br>
    <div id="p11" class="planet p11">11</div>
    <div id="p12" class="planet p12">12</div>        
    <div id="p13" class="planet p13">13</div>
    <div id="p14" class="planet p14">14</div>
    <div id="p15" class="planet p15">15</div>
    <br>
    <br> -->


    <div ng-repeat="planet in roundData" id="p{{planet.pid}}"  class="planet" ng-class="'p' + planet.pid">{{planet.navs}}</div>

    <div class="player">Active player is {{ activePlayer }}</div>

    <!-- END let's test the game -->
    
</div>