<div class="universo">
    
    <div id="p1" class="planet p1">{{ p1.navs }}</div>
    <br>
    <div id="p2" class="planet p2">{{ p2.navs }}</div>
    <div id="p3" class="planet p3">{{ p3.navs }}</div>
    <br>
    <div id="p4" class="planet p4">{{ p4.navs }}</div>

    <div id="p5" class="planet p5">{{ p5.navs }}</div>
    <div id="p6" class="planet p6">{{ p6.navs }}</div>
    <br>
    <div id="p7" class="planet p7">{{ p7.navs }}</div>
    <div id="p8" class="planet p8">{{ p8.navs }}</div>
    <div id="p9" class="planet p9">{{ p9.navs }}</div>
    <div id="p10" class="planet p10">{{ p10.navs }}</div>
    <br>
    <div id="p11" class="planet p11">{{ p11.navs }}</div>
    <div id="p12" class="planet p12">{{ p12.navs }}</div>
    <div id="p13" class="planet p13">{{ p13.navs }}</div>
    <div id="p14" class="planet p14">{{ p14.navs }}</div>
    <div id="p15" class="planet p15">{{ p15.navs }}</div>
    <br>
    <br>


    <!-- <div ng-repeat="planet in roundData" id="p{{planet.pid}}"  class="planet" ng-class="'p' + planet.pid">{{planet.navs}}</div> -->

    <div class="player">Active player is {{ activePlayer }}</div>

    <!-- END let's test the game -->
    
</div>